<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>
    This page that i created is just for test of skills/practise page while i was learning EJS.
    this page was created on 09/07/2024.
    Note to my self - Next time make the waves purple.
    also only git hub and linked button works (along with home , about and contact me but they dont serve any other function except rendering)
    <br>
    gibberish text - To be, or to takes, when we have shuffled off this regard the name of action. To die: to sleep; 
    to sleep; to sleep: perchance to dread of so long a life, but that patient merit of the heart-ache and lose the name of action. To be, or to takes, when we have shuffled off this regard their currents turn awry, and sweat under a weary life, but that sleep; no more; and, by a sleep to suffer the native hue of action. To be, or to takes, when he himself might his quietus makes calamity of so long a life, but
    To be, or to takes, when we have shuffled off this regard the name of action. To die: to sleep; to sleep; to sleep: perchance to dread of so long a life, but that patient merit of the heart-ache and lose the name of action. To be, or to takes, when we have shuffled off this regard their currents turn awry, and sweat under a weary life, but that sleep; no more; and, by a sleep to suffer the native hue of action. 
    To be, or to takes, when he himself might his quietus makes calamity of so long a life, but
    To be, or to takes, when we have shuffled off this regard the name of action. To die: to sleep; to sleep; 
    o sleep: perchance to dread of so long a life, but that patient merit of the heart-ache and lose the name of action.
    To be, or to takes, when we have shuffled off this regard their currents turn awry, and sweat under a weary life, 
    but that sleep; no more; and, by a sleep to suffer the native hue of action. To be, or to takes, when he himself 
    might his quietus makes calamity of so long a life, but
  </p>
  


  <%- include("partials/footer.ejs") %>